:root.light {
    --bg: #FFF;
    --primary: #0F172A;
    --secondary: #334155;
    --text-highlight: #38BDF8;
    --cards: #F4F6F8;
    --cards-highlight: #EBF8FE;
}

:root.dark {
    --bg: #0F172A;
    --primary: #E1E7EF;
    --secondary: #94A3B8;
    --text-highlight: #0EA5E9;
    --cards: #1E293B;
    --cards-highlight: #152940;
}

html{
    font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, 
                Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
                Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary);
}

a {
    color: var(--secondary);
    text-decoration: none;
}

a:hover{
    color: var(--text-highlight);
}

.nav-link.active{
    color: var(--text-highlight);
}

button{
    background-color: var(--cards);
}

button:hover{
    background-color: var(--cards-highlight);
}

ul{
    padding: 0;
}

li{
    list-style: none;
    padding: 10px 0;
}

body{
    background-color: var(--bg);
    color: var(--secondary);
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar{
    background-color: var(--cards-highlight);
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.conteudo{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 3rem;
    padding-inline: 10px;
}

.esquerda{
    grid-column: 1/2;
    display:flex;
    flex-direction: column;
    gap: 1rem;
}

.board {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2.5rem;
}

.direita{
    grid-column: 2/3;
    display: grid;
    gap: 1rem;
    grid-template-rows: 1fr 1fr;
    padding-right: 2rem;
}

.avisos, .trending{
    display: grid;
    gap: 1rem;
}

.board .card{
    min-height: 205px;
    min-width: 310px;
}

.card {
    min-height: 295px;
    min-width: 300px;
    background-color: var(--cards);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
}

.card:hover {
    background: var(--cards-highlight);
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.card p {
    flex: 1;
    line-height: 1.4;
}

.card h1 {
    font-size: 20px;
    margin: 0;
}


.top {
    grid-row: 1;
    grid-column: 1 / 3;
    display: grid;
    grid-row: auto 1fr;
    grid-column: 2fr 1fr;
    grid-template: auto 1fr / 2fr 1fr;
    padding: 0.5rem 2rem;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.search-container {
    grid-row: 1;
    grid-column: 1;
    grid-area: 1/1/2/2;
    display: -webkit-box;
    display: flex;
    gap: 1rem;
    -webkit-box-align: center;
    align-items: center;
}

.search-container img {
    height: 2rem;
    width: 2rem;
}

.search-container .search-input {
    -webkit-box-flex: 1;
    flex: 1;
    flex: 1;
    border-radius: 20px;
    border: none;
    background-color: #e4ddf4;
    height: 1.5rem;
}

.search-container .search-input:focus {
    outline: none;
    border: none;
}

.profile-container {
    grid-row: 1;
    grid-column: 2;
    grid-area: 1/2/2/3;
    display: -webkit-box;
    display: flexbox;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    gap: 1rem;
}

.profile-container .bell-img {
    height: 1.7rem;
    cursor: pointer;
}

.profile-container .bell-img:active {
    -webkit-transform: scale(0.97);
    transform: scale(0.97);
}

.profile-container .user-profile {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
}

.profile-container .user-profile:active {
    -webkit-transform: scale(0.97);
    transform: scale(0.97);
}

.profile-container .user-name {
    margin: 0;
    cursor: pointer;
}

.profile-container .user-name:active {
    -webkit-transform: scale(0.97);
    transform: scale(0.97);
}

.welcome-container {
    display: grid;
    display: grid;
    grid-row: 1fr 1fr;
    grid-column: auto 1fr;
    grid-template: 1fr 1fr / auto 1fr;
    gap: 0.5rem 1rem;
}

.welcome-container .user-profile-big {
    grid-row: 1;
    grid-row: 1/3;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    justify-self: end;
    align-self: center;
}

.welcome-container .hi-para {
    margin: 0;
    align-self: flex-end;
    font-weight: bold;
}

.welcome-container .main-user-name {
    margin: 0;
    align-self: flex-start;
    font-size: 1.5rem;
    font-weight: bold;
}

.btns-container {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    gap: 2rem;
}

.btns-container button {
    cursor: pointer;
    color: var(--secondary);
    background-color: var(--cards);
    border: none;
    width: 7.5rem;
    height: 2.5rem;
    font-weight: bold;
    border-radius: 20px;
    font-size: 1rem;
}

.btns-container button:active {
    -webkit-transform: scale(0.97);
    transform: scale(0.97);
    background-color: var(--cards-highlight);
    color: var(--text-highlight);
}

.btns-container button:hover{
    background-color: var(--cards-highlight);
}