:root.light {
    --bg: #FFF;
    --primary: #0F172A;
    --secondary: #334155;
    --text-highlight: #38BDF8;
    --cards: #F4F6F8;
    --cards-highlight: #EBF8FE;
}

:root.dark {
    --bg: #0F172A;
    --primary: #E1E7EF;
    --secondary: #94A3B8;
    --text-highlight: #0EA5E9;
    --cards: #1E293B;
    --cards-highlight: #152940;
}

html{
    font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, 
                Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
                Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary);
}

a {
    color: var(--secondary);
    text-decoration: none;
}

a:hover{
    color: var(--text-highlight);
}

button{
    background-color: var(--cards);
}

button:hover{
    background-color: var(--cards-highlight);
}

ul{
    padding: 0;
}

li{
    list-style: none;
}

body{
    background-color: var(--bg);
    color: var(--secondary);
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.sidebar{
    background-color: var(--cards-highlight);
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
